@{
    ViewBag.Title = "Index";
}

<body ng-app="FacebookUserDetailsApp">
    @* Screen Elements - Drop down for neighborhood locations and the search results in form of push pins on a map.*@
    <div ng-controller="FacebookUserDetailsCtrl" class="container glib" id="indexcontainer">
        @{
            ViewBag.Title = "NextMile - The FoodTruck Search Engine";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

        <fb:login-button autologoutlink="true" perms="read_friendlists, create_event, email, publish_stream"></fb:login-button>

        <p class="hidden">Facebook Access Token: @Session["accessToken"]</p>
        <p class="hidden">Facebook User Id: @Session["uid"]</p>
        <p class="hidden">Flag : @Session["flag"] </p>

        <div ng-include="'/Account/UserDetails'" ng-show='\@Session["flag"] == 0'></div>
        <div class="row glibc">
            <div class="col-sm-2 padded-custom">
                @Html.DropDownList("foodTruckName", (SelectList)ViewData["CurrentTrucks"], new { @class = "form-control", @onchange = "RenderFilteredTrucks()" });
            </div>
            <div class="col-sm-2 padded-custom">
                @Html.DropDownList("mealTime", (SelectList)ViewData["MealTimes"], new { @class = "form-control", @onchange = "RenderFilteredTrucks()" });
            </div>
            <div class="col-sm-2 padded-custom">
                @Html.DropDownList("dayOfWeek", (SelectList)ViewData["DaysInWeek"], new { @class = "form-control", @onchange = "RenderFilteredTrucks()" });
            </div>
            <div class="col-sm-5 padded-custom">
                @Html.DropDownList("neighbourhoodList", (SelectList)ViewData["CurrentNeighborhoods"], new { @class = "form-control", @onchange = "RenderFilteredTrucks()" });
            </div>
        </div>
        <div id="myMap" class="col-sm-12 glibc"></div>
        <input type="hidden" id="currentTruckPinData" data-value="@ViewData["CurrentTruckPins"]" />
        <input type="hidden" id="BingMapKey" data-value="@System.Configuration.ConfigurationManager.AppSettings["BING_MAP_KEY"]" />
    </div>
</body>

@*Javascript calls*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.13/angular-route.min.js"></script>
<script src="~/Scripts/javascript/pin_clusterer.js"></script>
<script src="~/Scripts/javascript/mapSearch.js"></script>
<script src="~/Scripts/javascript/UserDetails.js"></script>
<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>




