<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--Navigation Bar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NextMile", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                     <a href="#search" class="jumper">Search Foodtrucks</a>
                    </li>
                    <li>
                        <a href="#detail" class="jumper">About</a>
                    </li>
                    

                </ul>
            </div>
        </div>
    </div>

    <!--Main Body-->
    <div class="body-content" style="margin:2%;">
        @RenderBody()
        <hr />
       
    </div>
    
       
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!--FaceBook Login-->
    <div id="fb-root"></div>
    <script type="text/javascript">
        $(function ()
        {
            InitialiseFacebook(@System.Configuration.ConfigurationManager.AppSettings["FacebookAppId"]);
        });
    </script>
    <script type="text/javascript">
        $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
    </script>

</body>
<!--Footer-->
<div class="footer foot">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h6>Copyright &copy; 2015 NextMile.All Rights Reserved.</h6>
            </div><!-- end col-sm-2 -->


        </div><!-- end row -->
    </div><!-- end container -->
</div>
</html>